<div class="mb-20 mx-10">
  <div class="flex justify-center mt-20">
    <form (submit)="submitLocation(cityName, cityCode)" class="flex gap-x-4">
      <input
        type="text"
        placeholder="London"
        class="form-control bg-[#3C3C3C] text-white rounded-lg border border-white pl-2"
        autofocus
        #cityName
      />
      <input
        type="text"
        placeholder="UK"
        class="form-control bg-[#3C3C3C] text-white border border-white rounded-lg pl-2"
        #cityCode
      />
      <button class="bg-white text-[#3C3C3C] rounded-lg px-2">
        Get Weather
      </button>
    </form>
  </div>
  <div
    *ngIf="weather"
    class="flex mt-20 justify-center gap-x-10 content-center max-w-screen"
  >
    <div class="text-center shadow-xl shadow-black rounded-lg px-16 w-2/5">
      <p class="text-4xl mb-10 mt-8 font-bold">{{ weather.name }}</p>
      <p class="text-8xl font-bold mb-5">{{ localTime | date : "HH:mm" }}</p>
      <p>{{ localTime | date : "EEEE, d MMM" }}</p>
    </div>
    <!-- weather details -->
    <div
      class="flex text-center shadow-xl shadow-black rounded-lg p-4 w-3/5 justify-center"
    >
      <div class="">
        <div class="text-6xl font-bold">
          {{ weather.main.temp | temperatureRound }}ºC
        </div>
        <div class="flex items-center">
          Feels like:
          <p class="text-2xl font-bold ml-2">
            {{ weather.main.feels_like | temperatureRound }}ºC
          </p>
        </div>
        <div class="flex mt-10">
          <img src="assets/icons/sunrise-white.png" alt="Sunrise Image" />
          <div>
            <p>Sunrise</p>
            <div>{{ weather.sys.sunrise | unixTimestamp }} AM</div>
          </div>
        </div>
        <div class="flex mt-5">
          <img src="assets/icons/sunset-white.png" alt="Sunrise Image" />
          <div>
            <p>Sunset</p>
            <div>{{ weather.sys.sunset | unixTimestamp }} PM</div>
          </div>
        </div>
      </div>
      <div class="w-52 h-52 mx-8">
        <img
          [src]="'assets/icons/' + weather.weather[0].icon + '.png'"
          alt="Weather Image"
          class="w-full h-full"
        />
        <p class="font-bold text-xl">
          {{ weather.weather[0].description | titlecase }}
        </p>
      </div>
      <div class="grid grid-cols-2 gap-x-10 gap-y-2">
        <div class="grid grid-cols-1 place-items-stretch pt-3">
          <img src="assets/icons/humidity.png" alt="Humidity Image" class="" />
          <p>{{ weather.main.humidity }} %</p>
          <p>Humidity</p>
        </div>
        <div class="grid grid-cols-1 place-items-stretch">
          <img src="assets/icons/wind.png" alt="Wind Image" class="" />
          <p>{{ weather.wind.speed }} km/h</p>
          <p>Wind Speed</p>
        </div>
        <div>
          <img
            src="assets/icons/pressure-white.png"
            alt="Pressure Image"
            class="w-full"
          />
          <p>{{ weather.main.pressure }} hPa</p>
          <p>Pressure</p>
        </div>
        <div class="grid grid-cols-1 content-center">
          <div class="flex">
            <img
              src="assets/icons/max-temp.png"
              alt="Max Temperature"
              class="w-7 h-7"
            />
            <div>
              <p>Max Temp</p>
              <p>{{ weather.main.temp_max | temperatureRound }}ºC</p>
            </div>
          </div>
          <div class="flex">
            <img
              src="assets/icons/min-temp.png"
              alt="Min temperature"
              class="w-7 h-7"
            />
            <div>
              <p>Min Temp</p>
              <p>{{ weather.main.temp_min | temperatureRound }}ªC</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="forecast" class="flex mt-10 gap-x-10 justify-center content-center max-w-screen">
    <!-- 5 Days forecast -->
    <div class="shadow-xl shadow-black rounded-lg w-1/3">
      <h1 class="text-2xl text-center mt-8">5 Days Forecast:</h1>
      <div
        *ngFor="let item of filterForecastByTime(); let i = index"
        class=" flex-col h-16  content-around"
      >
      <div class="flex w-full gap-x-8 px-4 items-center mx-auto">
        <img
            [src]="'assets/icons/' + item.weather[0].icon + '.png'"
            alt="Weather Image"
            class="w-10 h-10"
          />
      <p>{{item.main.temp_max | temperatureRound}}ºC</p>
      <p class="text-md">{{ item.dt_txt | date: "EEEE, d MMM" }}</p>
</div>
    </div>
    </div>
    <!-- Hourly forecast -->
    <div class="shadow-xl shadow-black rounded-lg py-10 px-20 w-2/3 ">
      <h1 class="text-2xl text-center">Hourly Forecast:</h1>
      <div class="flex text-center mt-5 gap-x-4 justify-around h-4/5">
        <div
          *ngFor="let item of forecast.list.slice(1, 6); let i = index"
          class=" flex-col bg-[#373636] rounded-2xl p-2 "
        >
          <p>{{ item.dt_txt | date : "HH:mm" }}</p>
          <img
            [src]="'assets/icons/' + item.weather[0].icon + '.png'"
            alt="Weather Image"
          />
          <p>{{ item.main.temp | temperatureRound }}ºC</p>
          <img
            src="assets/icons/navigation.png"
            alt="Navigation arrow"
            [style.transform]="'rotate(' + item.wind.deg + 'deg)'"
          />
          <p>{{ item.wind.speed | temperatureRound }}km/h</p>
        </div>
      </div>
    </div>
  </div>
</div>
