<div>
  <div class="flex justify-center mt-20">
    <form (submit)="submitLocation(cityName, cityCode)" class="flex gap-x-4">
      <input
        type="text"
        placeholder="London"
        class="form-control bg-[#3C3C3C] text-white rounded-lg border border-white pl-2"
        autofocus
        #cityName
      />
      <input
        type="text"
        placeholder="UK"
        class="form-control bg-[#3C3C3C] text-white border border-white rounded-lg pl-2"
        #cityCode
      />
      <button class="bg-white text-[#3C3C3C] rounded-lg px-2">
        Get Weather
      </button>
    </form>
  </div>
  <div
    *ngIf="weather"
    class="flex mt-20 justify-center gap-x-10 content-center"
  >
    <div class="text-center shadow-xl shadow-black rounded-lg px-16 ">
      <p class="text-4xl mb-10 mt-8 font-bold">{{ weather.name }}</p>
      <p class="text-8xl font-bold mb-5">{{ localTime | date : "HH:mm" }}</p>
      <p>{{ localTime | date : "EEEE, d MMM" }}</p>
    </div>
    <div
      class="flex text-center shadow-xl shadow-black rounded-lg p-4 w-3/5 justify-center"
    >
      <div class="">
        <div class="text-6xl font-bold">
          {{ weather.main.temp | temperatureRound }}ºC
        </div>
        <div class="flex items-center">
          Feels like:
          <p class="text-2xl font-bold ml-2">
            {{ weather.main.feels_like | temperatureRound }}ºC
          </p>
        </div>
        <div class="flex mt-10">
          <img src="assets/icons/sunrise-white.png" alt="Sunrise Image" />
          <div>
            <p>Sunrise</p>
            <div>{{ weather.sys.sunrise | unixTimestamp }} AM</div>
          </div>
        </div>
        <div class="flex mt-5">
          <img src="assets/icons/sunset-white.png" alt="Sunrise Image" />
          <div>
            <p>Sunset</p>
            <div>{{ weather.sys.sunset | unixTimestamp }} PM</div>
          </div>
        </div>
      </div>
      <div class="w-52 h-52 mx-8">
        <img
          [src]="'assets/icons/' + weather.weather[0].icon + '.png'"
          alt="Weather Image"
          class="w-full h-full"
        />
        <p class="font-bold text-xl">
          {{ weather.weather[0].description | titlecase }}
        </p>
      </div>
      <div class="grid grid-cols-2 gap-x-10 gap-y-2">
        <div class="grid grid-cols-1 place-items-stretch pt-3">
          <img src="assets/icons/humidity.png" alt="Humidity Image" class="" />
          <p>{{ weather.main.humidity }} %</p>
          <p>Humidity</p>
        </div>
        <div class="grid grid-cols-1 place-items-stretch">
          <img src="assets/icons/wind.png" alt="Wind Image" class="" />
          <p>{{ weather.wind.speed }} km/h</p>
          <p>Wind Speed</p>
        </div>
        <div>
          <img
            src="assets/icons/pressure-white.png"
            alt="Pressure Image"
            class="w-full"
          />
          <p>{{ weather.main.pressure }} hPa</p>
          <p>Pressure</p>
        </div>
      </div>
    </div>
    <!-- <h1>Weather Information</h1>
    <p>City: {{ weather.name }}</p>
    <p>Latitude: {{ weather.coord.lat }}</p>
    <p>Longitude: {{ weather.coord.lon }}</p>
    <p>Humidity: {{ weather.main.humidity }}</p>
    <p>Pressure: {{ weather.main.pressure }}</p>
    <p>Temperature: {{ weather.main.temp }}</p>
    <p>Description: {{ weather.weather[0].description }}</p> -->
  </div>
</div>
